html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    height: 200vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-box-shadow: 0px 0px 0px 0px #141414;
    box-shadow: 0px 0px 1px 1px #141414;
}

nav {
    overflow: hidden;
    background-color: #0A3C47;
}

.logo {
    float: left;
    margin: 1%;
    margin-left: 4%;
    width: 10%;
    
}

.img_logo {
    width: 60%;
    -webkit-box-shadow: 1px 1px 1px 1px #141414;
    box-shadow: 1px 1px 1px 1px #141414;
    
}

.busca {
    text-align: center;
    width: 30%;
    float: left;
    margin-right: 7%;
}

.busca input {
    background-image: url(../img/icone-search.png);
    background-repeat: no-repeat;
    background-position: 95%;
    height: 4vh;
    width: 120%;
    margin-top: 8%;
    border-radius: 70em;
    border-color: #fff;
    padding-left: 5%;
}

.busca input::placeholder {
    padding: 3%;
}

.itens_menu01 {
    padding: 1%;
}

.itens_menu01 li {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
    margin-top: 2.2%;
    margin-left: 7%;
    font-size: 1.2em;
}

.itens_menu01 li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    
}

.col-100 {
    width: 100%;
    float: left;
    position: absolute;
    height: 1vh;
    padding-top: 5%;
}

.header-2 {
    background-color: #AC6C45;
    height: 100%;
    padding: 3%;
    width: 90%;
    margin-left: 2%;
}

.img_hamburger {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
}

.menu02 h3 {
    float: left;
    display: flex;
    color: #fff;
    margin-right: 30%;
}

.itens_menu02 {
    padding: 1%;
    float: right;
}

.itens_menu02 li {
    flex-direction: row;
    justify-content: space-between;
    display: inline-block;
    margin-right: 7em;
}

.itens_menu02 li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}

h3 {
    font-weight: normal!important;
}

a {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

figure {
    text-align: center;
    width: 1005;
}

.img_topo {
    width: 100%;
    margin-top: 6.8%;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.container-2 {
    width: 90%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.container-table {
    width: 90%;
    margin: auto;
}

.container-table h1 {
}

.login {
    text-align: center;
    padding-top: 8%;
}

.login input {
    text-align: center;
    padding: 2%;
}

.login input::placeholder {
    padding: 3%;
}

.login button {
    text-align: center;
    padding: 2%;
    margin: 5%;
}

.bottom_banner {
    width: 90%;
    margin-left: 5%;
    margin-top: 22px;
    margin-bottom: 22px;
}

.img_ord {
    width: 90%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 10px;
    margin-right: 1%;
}

.product_img {
    width: 24%;
}

.img_cont {
    width: 100%;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
}

.img_cont:hover {
    box-shadow: 0px 5px 10px #444444;
    -webkit-transition:  box-shadow .3s ease-in;
    cursor: pointer;
}

footer {
    width: 100%;
    margin-bottom: -10%;
}

.img-footer {
    width: 100%;
}

.ajust-ft {
    width: 100%;
    margin-top: 5%;
    margin-bottom: -1%;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
  
.card img {
    width: 100%;
    height: auto;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
    border-radius: 12px; 
    margin-bottom: 10px;
}
  
.card h2 {
    font-size: 24px;
    margin-top: 0;
}
  
.card p {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.card .price {
    font-size: 20px;
    font-weight: bold;
}
  
.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.card button:hover {
    background-color: #3e8e41;
}

.card:hover {
    box-shadow: 0px 5px 10px #444444;
    -webkit-transition:  box-shadow .3s ease-in;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
  
@media screen and (max-width: 1400px) {
    
    
    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        -webkit-box-shadow: 0px 0px 0px 0px #141414;
        box-shadow: 0px 0px 1px 1px #141414;
    }
    
    nav {
        overflow: hidden;
        background-color: #0A3C47;
    }
    
    .logo {
        float: left;
        margin: 1%;
        margin-left: 4%;
        margin-top: 1.5%;
        width: 10%;
        
    }
    
    .img_logo {
        width: 60%;
        -webkit-box-shadow: 1px 1px 1px 1px #141414;
        box-shadow: 1px 1px 1px 1px #141414;
        
    }
    
    .busca {
        text-align: center;
        width: 30%;
        float: left;
        margin-right: 6%;
    }
    
    .busca input {
        background-image: url(../img/icone-search.png);
        background-repeat: no-repeat;
        background-position: 95%;
        height: 4vh;
        width: 120%;
        margin-top: 8.5%;
        border-radius: 70em;
        border-color: #fff;
        padding-left: 5%;
    }
    
    .busca input::placeholder {
        padding: 3%;
    }
    
    .itens_menu01 {
        padding: 1%;
    }
    
    .itens_menu01 li {
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
        margin-top: 2.2%;
        margin-left: 5%;
        font-size: 1em;
    }
    
    .itens_menu01 li a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        
    }
    
    .col-100 {
        width: 100%;
        float: left;
        position: absolute;
        height: 1vh;
        padding-top: 7%;
    }
    
    .header-2 {
        background-color: #AC6C45;
        height: 100%;
        padding: 3%;
        width: 90%;
        margin-left: 2%;
    }

    .menu02 {
        margin-top: 0.7%;
    }
    
    .img_hamburger {
        float: left;
        margin-top: 5.5%;
        margin-left: 3%;
        margin-right: 3%;
        display: flex;
    }
    
    .menu02 h3 {
        float: left;
        display: flex;
        margin-top: 5.8%;
        color: #fff;
        margin-right: 30%;
    }
    
    .itens_menu02 {
        padding: 1%;
    }
    
    .itens_menu02 li {
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
        margin-top: 5%;
        margin-left: 5%;
    }
    
    .itens_menu02 li a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #000;
    }
    
    h3 {
        font-weight: normal!important;
    }
    
    figure {
        text-align: center;
        width: 1005;
    }
    
    .img_topo {
        width: 100%;
        margin-top: 6.8%;
    }
    
    .login {
        text-align: center;
        padding-top: 8%;
    }
    
    .login input {
        text-align: center;
        padding: 2%;
    }
    
    .login input::placeholder {
        padding: 3%;
    }
    
    .login button {
        text-align: center;
        padding: 2%;
        margin: 5%;
    }
    
    .bottom_banner {
        width: 90%;
        margin-left: 5%;
        margin-top: 22px;
        margin-bottom: 22px;
    }

    .img_ord {
        width: 90%;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 10px;
        margin-right: 1%;
    }

    .product_img {
        width: 24%;
    }

    .img_cont {
        width: 100%;
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
        border-radius: 12px;
    }

    .img_cont:hover {
        box-shadow: 0px 5px 10px #444444;
        -webkit-transition:  box-shadow .3s ease-in;
    }

    footer {
        width: 100%;
        margin-bottom: -10%;
    }

    .img-footer {
        width: 100%;
    }

    .ajust-ft {
        width: 100%;
        margin-top: 5%;
        margin-bottom: -1%;
    }

    .card {
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        margin: 0 30px;
      }
      
      .card img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      
      .card h2 {
        font-size: 24px;
        margin-top: 0;
      }
      
      .card p {
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      .card .price {
        font-size: 20px;
        font-weight: bold;
      }
      
      .card button {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .card button:hover {
        background-color: #3e8e41;
      }

      .card:hover {
        box-shadow: 0px 5px 10px #444444;
        -webkit-transition:  box-shadow .3s ease-in;
        cursor: pointer;
      }

      label {
        margin: 3%;
      }

      .container-table {
        
      }
      
    
}



  